.show-result-dialog-user-nickname {
}

.show-result-dialog-stack-after {
  font-weight: bold;
}


.show-result-dialog-amount-diff-plus {
  float: right;
  color: blue;
}

.show-result-dialog-amount-diff-minus {
  float: right;
  color: red;
}
