.my-turn {
  background-color: #dddddd;
}

.is-me {
  background-color: #aaaaaa;
}

.nickname {
  font-size: 10pt
}

.player-stack {
  font-size: 10pt
}

.avatar-0 {
}

.avatar-1 {
  filter: grayscale(100%);
}

.foldedPanel {
  background: rgba(100, 100, 100, 0.8);
  border-radius: 1em;
  padding: 10px;
  display: flex;
}

.activePanel {
  background: rgba(200, 250, 150, 0.5);
  border-radius: 1em;
  padding: 10px;
  display: flex;
}
