.otherPlayerAvatarImage {
  width: 50px;
  max-width: 100%;
  border-radius: 25px;
  border: 1px solid #ffffff;
}

.otherPlayerAvatarImageOnTurn {
  width: 50px;
  max-width: 100%;
  border-radius: 25px;
  border: 1px solid #ffffff;
  animation: onPlayerTurnAvatarBlinkAnimation 1s infinite;
}

@keyframes onPlayerTurnAvatarBlinkAnimation {
  50% {
    box-shadow: 0 3px 15px 1px yellow;
  }
}

.my-turn {
  background-color: #dddddd;
}

.is-me {
  background-color: #aaaaaa;
}

.actionTypeLabel {
  font-size: 0.875rem;
  font-weight: bold;
  color: #ffffff;
}

.nickname {
  font-size: 0.625rem;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.player-stack {
  font-size: 0.75rem;
  color: orange;
}

.avatar-0 {
}

.avatar-1 {
  filter: grayscale(100%);
}

.foldedPanel {
  display: flex;
  flex-direction: column;
  justify-content: spaceAround;
  text-align: center;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}

.activePanel {
  display: flex;
  flex-direction: column;
  justify-content: spaceAround;
  text-align: center;
  height: 100%;
  width: 100%;
}

.otherPlayerPanelTextArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  z-index: 10;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3rem;
  width: 80px;
  max-width: 100%;
  margin: auto;
  padding: 2px;
}

.otherPlayerBetArea {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: white;
  font-size: 0.75rem;
  padding: 4px;
}

.betAmountArea {
  position: absolute;
}

.betAmountArea.rightSide {
  top: 75px;
  left: -20px;
}

.betAmountArea.leftSide {
  top: 75px;
  right: -20px;
}

.betAmountArea.topRightSide {
  top: 75px;
  left: -20px;
}

.betAmountArea.topLeftSide {
  top: 75px;
  right: -20px;
}

.bottomRightDealerButtonPosition {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 100;
  bottom: -2.8rem;
  right: 0;
}

.bottomLeftDealerButtonPosition {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 100;
  bottom: -2.8rem;
  left: 0;
}

.rightDealerButtonPosition {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 100;
  right: -1.0rem;
}

.leftDealerButtonPosition {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 100;
  left: -1.0rem;
}
