.avatarImage {
  width: 80px;
  max-width: 100%;
  border-radius: 40px;
  border: 1px solid #ffffff;
}

.avatarImageOnTurn {
  width: 80px;
  max-width: 100%;
  border-radius: 40px;
  border: 1px solid #ffffff;
  animation: onHeroTurnAvatarBlinkAnimation 1s infinite;
}

@keyframes onHeroTurnAvatarBlinkAnimation {
  50% {
    box-shadow: 0 1px 15px 1px yellow;
  }
}

.my-turn {
  background-color: #dddddd;
}

.is-me {
  background-color: #aaaaaa;
}

.heroNickname {
  font-size: 0.75rem;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-player-stack {
  color: orange;
  font-weight: bold;
}

.avatar-0 {
}

.avatar-1 {
  filter: grayscale(100%);
}

.foldedHeroPanel {
  border-radius: 1em;
  /*border: 1px solid #ffffff;*/
  display: flex;
  flex-direction: column;
  justify-content: spaceAround;
  text-align: center;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}

.activeHeroPanel {
  border-radius: 1em;
  /*border: 1px solid #ffffff;*/
  display: flex;
  flex-direction: column;
  justify-content: spaceAround;
  text-align: center;
  height: 100%;
  width: 100%;
}

.heroHoleCard1 {
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 80%;
  width: 100%;
  height: 100%;
}

.heroHoleCard2 {
  position: absolute;
  z-index: 100;
  top: 50px;
  left: calc(80% + 20px);
  width: 100%;
  height: 100%;
}

.heroPanelTextArea {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  z-index: 1000;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 140px;
  max-width: 100%;
  padding: 4px;
}

.foldButtonClass {
  position: absolute;
  top: 65px;
  left: 24px;
  z-index: 1000;
}

.callButtonClass {
  position: absolute;
  top: 65px;
  right: 24px;
  z-index: 1000;
}
