.flex-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.game-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #338c00;
  background-image: url('./climpek.png');
  border-radius: 40%;
  box-shadow: 0 0 0 5px black,
              0 0 100px 10px #004400 inset,
              0 0 10px 2px #33ff00 inset;
  margin: 10px;
  padding: 0px;
  position: relative;
  top: 0%;
}

.topPlayerContainer {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.topPlayerArea {
  height: 100%;
  width: 30%;
}

.topPlayerPanel {
  height: 14vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topPlayerChipBetArea {
  height: 6vh;
  width: 100%;
  margin: auto;
}

.middlePlayerContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.heroPlayerContainer {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.test {
  height: 100%;
  width: 80%; 
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 3em;
}

.flex-down-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.currentStateArea {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heroDealerButtonArea {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.heroDealerButtonWrapper {
  width: 30px;
  height: 30px;
  margin: auto;
}
