.flex-container {
  width: 100%;
  height: 60vh;
  background-color: #88aa88;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-up-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-center-container {
  display: flex;
  justify-content: center;
}

.flex-down-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
