.playerChipBetArea {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttonPlateWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonPlate {
  height: 30px;
  width: 30px;
  boxShadow: 1px 1px 2px 2px black;
  padding: 5px;
}

.betArea {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 1em;
  padding: 3px;
}
